<% provide(:about_active, 'active') %>
<br>
<div class="container">
	<div class="row">
		<h1 style="margin: auto;">About Me</h1>

		<div id="page_wrapper">
			<div id="profile_image">
				<%= image_tag "profile.jpeg", :style => 'display: block;' %>
			</div>

			<div id="content">
				<h1>Chitrapu Uday Bhaskar, Commodore</h1>
				<br/>
				<p> Chitrapu Uday Bhaskar, a retired Commodore who served in the Indian Navy, is one of India's leading experts and outspoken critics on security and strategic affairs.

				Commodore Bhaskar is currently the Director of the Society for Policy Studies (SPS), an independent think-tank based in New Delhi, India. He has the rare distinction of being the head of three think tanks during his career - the earlier two being the Institute for Defence Studies and Analyses (IDSA) and the National Maritime Foundation (NMF).

				He is a columnist, editor, and contributor of numerous research-articles on nuclear and international security issues to reputed journals in India and abroad. He is also a life member of the United Services Institute(USI).</p>
				<br/>
				<br/>
				<br/>
				<br/>
				<h1>Career</h1>
				<p>
					He served in Indian Navy till 2007 for 37 years. He was associated with Institute for Defence Studies and Analyses (IDSA) from 1990, served as Deputy director from 1996 to 2004, and as an Officiating director of IDSA from 2004 to 2005. Later, was appointed as secretary to the Government of India's task force on Global Strategic Developments. He retired in 2007.
					<br/>
					<br/>
					He worked as an editor of Maritime affairs and Strategic analysis - currently, serving on the editorial board of Contemporary Security Policy. He edited books on nuclear, maritime, and international security related issues; and contributed over sixty research-articles to reputed journals, both in India and abroad—US Naval Institute Proceedings, Studies in Conflict and Terrorism, and the Bulletin of the Atomic Scientists - and in books published by the US Naval War College and Royal Navy Defence studies.
					<br/>
					<br/>
					Currently, he is a life member of United Services Institute (USI), a member of advisory panel of the India Habitat Centre in New Delhi, chairman of the Middle East Institute in New Delhi, director of National Maritime Foundation, and a frequent (guest) lecturer at the Indian National Defence College, including other military colleges.
					<br/>
					<br/>
					This strategic analyst regularly writes columns for some of the country's leading English publications such as The Indian Express, Reuters, Dainik Jagran, The Economic Times, and several alike
				</p>
				<br/>
				<br/>
				<br/>
				<h1>Works</h1>
				<br/>
				<h3>Books</h3>
				<ul>
					<li><i>United Nations: Multilateralism and International security.</i></li>
					<li><i>Emerging India: Security and Foreign policy perspectives.</i></li>
				</ul>
				<br/>
				<h3>Articles</h3>
				<ul>
					<li><i>United Nations: Multilateralism and International security.</i></li>
					<li><i>Emerging India: Security and Foreign policy perspectives.</i></li>
					<li><i>Manmohan Singh's Seoul Visit- Strategic Implications.</i></li>
					<li><i>ZARDARI VISIT TO AJMER: SIGNIFICANCE OF DELHI DETOUR.</i></li>
					<li><i>London Attacks: Abiding Pattern of Global Terrorism.</i></li>
					<li><i>Pak Support to Terrorism: Yasin Malik Revelation.</i></li>
					<li><i>Bangladesh Blasts: Wake up call.</i></li>
					<li><i>Resolution of North Korean Imbroglio.</i></li>
					<li><i>Vote at IAEA Not Anti-Iranian But Pro-India.</i></li>
					<li><i>Dhaka SAARC Summit: Political Compulsions Blunt Economic Progress.</i></li>
					<li><i>34th Anniversary of Bangladesh Liberation - Cause for Concern.</i></li>
					<li><i>Intel Inside: Securing IT Cities.</i></li>
					<li><i>China's GDP & Asian strategic matrix.</i></li>
					<li><i>Maldives Crisis Tests India's Regional Profile.</i></li>
					<li><i>India in 2012: Strategic and Security Challenges Beckon</i></li>
					<li><i>Pre-Halloween Terror Attacks in Kabul: Ominous for Obama.</i></li>
					<li><i>China's Recall Of 1911: Implications for India.</i></li>
					<li><i>Southern Asia's nuclear myths revisited post bin Laden.</i></li>
					<li><i>First India-China Nuclear Dialogue : Huge Misperceptions.</i></li>
					<li><i>Direct action day the core of PAK malignancy.</i></li>
					<li><i>How the U.S. could have saved 225,000 lives and $4 trillion.</i></li>
					<li><i>Non-use of nuclear weapons.</i></li>
					<li><i>PM’s Africa visit: Need for sincere review.</i></li>
				</ul>				
			</div>

			<br/>
			<br/>
			<div class="social-media-icons">
				<a href="https://twitter.com/theUdayB" class="fa fa-twitter fa-2x" style="text-decoration: none;" target="_blank"></a>
				&nbsp;
				<%= link_to image_tag('thewire.jpg'), "https://thewire.in/author/vhfi", :target => "_blank", :style=> 'font-size: 0.73em;'%>
				&nbsp;
				<%= link_to image_tag('idr.jpg'), "http://www.indiandefencereview.com/author/commodorecudaybhaskar/", :target => "_blank" %>
				&nbsp;
				<%= link_to image_tag('indianexp.jpg'), "https://indianexpress.com/profile/columnist/c-uday-bhaskar/", :target => "_blank" %>
				&nbsp;
				<%= link_to image_tag('takshashila.jpg'), "http://takshashila.org.in/team/c-uday-bhaskar/", :target => "_blank" %>
				&nbsp;
				<%= link_to image_tag('thequint.jpg'), "https://www.thequint.com/author/57/c-uday-bhaskar", :target => "_blank" %>
				&nbsp;
				<%= link_to image_tag('toi.jpg'), "https://blogs.timesofindia.indiatimes.com/author/c-uday-bhaskar/", :target => "_blank" %>
			</div>
		</div>
	</div>
</div>