
<!--
  <div class="col-sm-6 col-lg-4">
<% if @posts.count >= 1%>
  <% @posts.each do |post| %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to post.title, post%></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<% end %>
<% else %>
  <h2><b>No Posts found!</b></h2>
<% end %>
</div>
-->



<% if @posts.count >= 1%>


<div class="row">
  <% @posts.each do |post| %>
    
      <div class='col-sm-6 col-lg-4'>

        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= link_to post.title, post %></h3>
            <p class="card-text"><%= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name)}.join(', ') %></p>
            <h6 class="card-text"><%= post.published_date %></h6>
            <div class="description">
            <%= link_to post do %>
              
                <p><%= truncate(post.description, length: 200) %></p>
              
            <% end %>
          </div>
            <%= link_to 'Read', post, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h2><b>No Posts found!</b></h2>

  <% end %>
</div>
<br>
<br>

<% if @posts.count>9 %>
  <div class="apple_pagination justify-content-center">
    <%= will_paginate @posts, container: false %>
  </div>
<% end %>



<style type="text/css">
  .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .description a{
      color: black;
      text-decoration: none;
    }
    .card {
    border: none;
    border-radius: 0;
    height: 320px;
    margin-bottom: 20px;
    background-color: white;
    .card-block {
      padding: 10px;
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .tags {
        margin-bottom: 0;
        a {
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
        }
      }
      .published-date {
        font-size: 0.8rem;
        color: #787878;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .card-text {
        font-size: 0.9rem;
        color: black;
      }
    }
  }
</style>
