<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div>
	<%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn btn-sm btn-warning' %>
	<%= link_to 'Remove', authors_post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
		<span class="right-place">
			<h2>
				<b>
					<%= @post.impressionist_count(:filter=>:ip_address) %>	
				</b>
			
				<%= "view".pluralize(@post.impressionist_count(:filter=>:ip_address)) %>
			</h2>
		</span>
</div>

<br/>
<div class="row">
	<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
		<div class="text-heading-post">
			<h1><%= @post.title %></h1>
		</div>
		<p><%= @post.published_date%></p>
		<span class="text-heading-post">
			<%= raw @post.body %>
		</span>
	</div>
</div>

<%= link_to 'Back', posts_path %>
